# json_tricks
ultralytics


https://github.com/melMass/sapiens/releases/download/wheels/sapiens_cv-1.0.0-cp311-cp311-linux_x86_64.whl#sha256:12114ffdcafe67816480fd81d5b15662425099ba3e8fbb21080525f14fd765b0

# pure python sources
git+https://github.com/melMass/sapiens.git@main#subdirectory=det
git+https://github.com/melMass/sapiens.git@main#subdirectory=engine
git+https://github.com/melMass/sapiens.git@main#subdirectory=pose

# for io
msgpack
msgpack_numpy

# These requirements will be removed soon, kept during dev
# jaxtyping
# beartype
